priority 1

global !p
from vimsnippets import get_comment_format
endglobal


snippet '!([.0-9(].*)!' "shell out to python for math" r
`!p
snip.rv = eval(match.group(1))
`
endsnippet


snippet todo "TODO comment (improved)" w
`!p snip.rv=get_comment_format()[0]` TODO: ${1:fix this} (${2:`!v strftime('%Y-%m-%d')`}${3:, `!v g:snips_author`}) `!p snip.rv=get_comment_format()[2]`
endsnippet
